<div>


    <header>
        <div class="limiter">
            <h1>Dobrodošli na stranicu za online plaćanje</h1>
            <img src="images/logo.png" style="width:100%;max-width:150px;">
        </div>
    </header>
    <div class="creditCardForm">
        <div class="heading">
            <h3>Unesite Vaše podatke:</h3>
        </div>
        <div class="payment">
            <form>
                <div class="form-group">
                    <label id="poruka" style="color: red"></label>
                </div>
                <div class="form-group" id="card-number-field">
                    <label for="cardNumber">Broj kartice</label>
                    <input type="tel" class="form-control" id="cardNumber" minlength="8" maxlength="19" ng-model="cardNumber" ng-change="format()">
                </div>

                <div class="form-group owner">
                    <label for="owner">Ime</label>
                    <input type="text" class="form-control" id="owner">
                </div>
                <div class="form-group ownerLastname">
                    <label for="ownerL">Prezime</label>
                    <input type="text" class="form-control" id="ownerL">
                </div>
                <div class="form-group CVV">
                    <label for="cvv">CVV kod</label>
                    <input type="text" class="form-control" id="cvv" maxlength="4">
                </div>
                <div class="form-group" id="expiration-date">
                    <label>Datum isteka</label>
                    <table>
                        <tr>
                            <td>Mesec</td>
                            <td>Godina</td>
                        </tr>
                        <tr>
                           <td><select id="mesec">
                               <option value="01">01</option>
                               <option value="02">02 </option>
                               <option value="03">03</option>
                               <option value="04">04</option>
                               <option value="05">05</option>
                               <option value="06">06</option>
                               <option value="07">07</option>
                               <option value="08">08</option>
                               <option value="09">09</option>
                               <option value="10">10</option>
                               <option value="11">11</option>
                               <option value="12">12</option>
                           </select></td>
                            <td>
                                <select id="godina">
                                    <option value="18"> 2018</option>
                                    <option value="19"> 2019</option>
                                    <option value="20"> 2020</option>
                                    <option value="21"> 2021</option>
                                    <option value="22"> 2022</option>
                                    <option value="23"> 2023</option>
                                    <option value="24"> 2024</option>
                                    <option value="25"> 2025</option>
                                    <option value="26"> 2026</option>
                                    <option value="27"> 2027</option>
                                    <option value="28"> 2028</option>
                                    <option value="29"> 2029</option>
                                    <option value="30"> 2030</option>
                                </select>
                            </td>
                        </tr>
                    </table>



                </div>
                <div class="form-group" id="credit_cards">
                    <img src="assets/images/visa.jpg" id="visa">
                    <img src="assets/images/mastercard.jpg" id="mastercard">
                    <img src="assets/images/amex.jpg" id="amex">
                </div>

                <div class="form-group" id="pay-now">
                    <button type="submit" class="btn btn-default" id="confirm-purchase" ng-click="submit()">Plaćanje</button>
                </div>
            </form>
        </div>
    </div>



</div>